
*{
    margin: 0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}


.my-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:100px;
    padding:1.5rem 2.5rem;
    margin-bottom: -60px;

}
#logo{

    flex:3;
    
    
}
#logo>img{
    width: 132px;
    height: 76px;
}
#profile{
    flex:1;
    text-align:right;
}
#options{

    flex:1;
    
}
#options>ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    gap:3rem;
}
.main{
    width: 90%;
    margin:auto;
    
}

#heroSection{

   width:100%;
  
    border-radius: 20px;
    background-image: url("./assets/Rectangle\ 20.png");
    padding:6rem 4rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
   background-size:cover;
   margin-bottom: 2rem;
   

}
#heroSection>p:first-child{
color: #DC582A;

font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 127%; /* 30.48px */

}
#heroSection>p:nth-child(2){
    color: #FFF;

font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 127%; /* 50.8px */

}
#heroSection>p:nth-child(3){

    color: #FFF;

font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 127%; /* 25.4px */
}

#searchpara{
    
margin-bottom:15px;
font-size: 30px;
font-weight: 500;

}
#searchBar{
    display: flex;
    
    width: 100%;
    
    margin-bottom:4rem;

}

#searchBar>input{
    flex:3;
    width: 100%;
    border-radius: 2px 0px 0px 2px;
background: #F3F3F3;
border: none;
padding:10px;
border-radius: 3px;
}
#searchBarButton{
    flex: 0.14;
    background-color: green;
    
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
   
}
#searchBarButton>span{
    color:white
}
::-webkit-scrollbar{
    display: none;
}

.recipeOptions{
    display: flex;
    gap:20px;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 3rem;
    overflow-x: scroll;
}

.card{
    display: flex;
width: 236.8px;
height: 86px;
padding: 30px 29.8px 30px 29px;
justify-content: center;
align-items: center;
border-radius: 10px;
border: none;
color: white;
font-size: 16px;


}
#card-1{
    background-color: #EAAA00;;
}
#card-2{
    background-color: rgba(196, 214, 0, 1);
}
#card-3{
    background-color: #DC582A;
}
.RecipeCardSection{
    display:flex;

}
#leftSection>p:first-child{
    color: #252525;

font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 1rem;
}




#leftSection>p:nth-child(2){
    color: #252525;

font-size: 22px;
font-style: normal;
font-weight: 550;
line-height: normal;
margin-bottom: 10px;
}
#leftSection{
flex:1
}
#rightSection{
    flex:3 ;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}

.mycard{
    display: flex;
    flex-direction: column;
    gap:6px;
    width: 305px;
height: 315px;
flex-shrink: 0;
border-radius: 16px;
background: #FFF;
box-shadow: 0px 3px 10px -1px rgba(8, 8, 8, 0.05), 0px 0px 1px 0px rgba(0, 2, 8, 0.24);

padding:20px;
box-sizing: border-box;
}

.type{
    color: #747373;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 240% */
}

.name{
    color: #252525;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}
.rating{
    color:  #ADADAD;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 2px;
}


.time{
    color: #DC582A;

/* Headings/h3 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 136.523%; /* 27.305px */
}

.imagediv{

    width: 250px;
    height: 200px;
    overflow: hidden; 
    border-radius: 16px;
}


.image{

width: 100%;
height:100%;
object-fit:cover;


}


.nameRating,.timeLikeSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratingSection{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}
.likeComment{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}
.likeComment>i{
    font-size: 22px;
}
.true{
    color: red;
}
.false{
    color: rgb(197, 191, 191);
}
.likeButtonColor:hover{
    cursor:pointer;
    transform: scale(1);
}
.likeButtonColor{
    color: red !important;
}

#mobile-navbar-btn{
    display: none;
    cursor:pointer;
    
}
#mobile-nav-icon{
    font-size: 40px;
}

#side-bar>div>ul{

   
    list-style-type: none;
    
    
}
#side-bar>div>ul>li{
    font-size: 20px;
    
}

.hideSide-bar{
   
    transform: translate(-100%);
    

}

.showSide-bar{
    
    padding:2rem;
    display:flex;
    justify-content: space-between;
    background-color: white;
    height:100vh;
    width:300px;
   
    position: absolute;
    left:0;
    transform: translate(0%) !important;
    top:0;
}


.upper{
    display:flex;
    gap :40px;
    justify-content: space-between;
    align-items: start;

    margin: 4rem 0rem;

}
.left{
flex:1;

}

.left>p,.right>p{
    color: #253D4E;
text-align: justify;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

margin-top: 10px;
}
table{
    flex:1;
    text-align: left;
    width: 100%;
    height: 250px;
}

table>thead>tr{
    color: #253D4E;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 130% */
}
table>tbody>tr{

    color:  rgba(0, 0, 0, 0.60);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
}
.right{
    flex:1;
}

.right>input{

    padding: 5px;
}

.right>button{

    
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 3px;
    margin-top: 8px;
}

@media screen and (max-width:767px) {


    .my-nav{
        
        justify-content: space-around;
        
    
    }


    #heroSection{

       height:30vh;
         
       padding:5rem 2rem;
     
     }

     #heroSection>p:first-child{
       
        
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 97%; /* 50.8px */
        
        }
        #heroSection>p:nth-child(2){
          
        
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 97%; /* 50.8px */
        
        }
        #heroSection>p:nth-child(3){
        
            color: #FFF;
        
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 97%; /* 25.4px */
        }

        #searchpara{
            font-size: 20px;
        }

        

        #searchBarButton>span{
         padding:8px;  
        }

        .mycard{
            
        padding:20px;
        
        }
    #mobile-navbar-btn{
        display: block; 
    }

    #options{
        display: none; 
    }

    .upper{
         flex-direction: column;
    }
    

    

    
}

